- name: Install packages for RHEL
  include_tasks: redhat.yml
  when: ansible_facts['os_family']|lower == 'redhat'

- name: Install packages for debian
  include_tasks: debian.yml
  when: ansible_facts['os_family']|lower == 'debian'

- name: Check wordpress existence 
  stat:
    path: /var/www/wordpress/wp-config.php
  register: out

- name: Install and configure wordpress
  block:
    - name: Download
      shell: curl -O https://wordpress.org/latest.tar.gz

    - name: Decompress
      unarchive:
        src: "/home/{{ ansible_user }}/latest.tar.gz"
        dest: /var/www
        remote_src: yes

    - name: Add configuration
      copy:
        src: /var/www/wordpress/wp-config-sample.php
        dest: /var/www/wordpress/wp-config.php
        remote_src: yes

    - name: Setup database name
      lineinfile:
        path: /var/www/wordpress/wp-config.php
        regexp: DB_NAME
        line: "define('DB_NAME', 'wordpress');" 

    - name: Setup database user
      lineinfile:
        path: /var/www/wordpress/wp-config.php
        regexp: DB_USER
        line: "define('DB_USER', 'wordpressuser');" 

    - name: Read database password
      slurp:
        src: "/home/{{ ansible_user }}/.my.cnf"
      register: credentials

    - name: Setup database password
      lineinfile:
        path: /var/www/wordpress/wp-config.php
        regexp: DB_PASSWORD
        line: "define('DB_PASSWORD', '{{ credentials['content'] | b64decode | regex_search('password=(.+)', '\\1') | first }}');" 
  when: out.stat.isreg is undefined and proxy_env is defined

- name: Ensure group nginx exists
  group:
    name: nginx
    state: present
    system: yes

- name: Create nginx user and group
  user:
    name: nginx
    group: nginx
    state: present
    createhome: no
    shell: /usr/bin/false
    system: yes

- name: Copy nginx config
  copy:
    src: wordpress.conf
    dest: /etc/nginx/nginx.conf
    force: yes
 
- name: Copy php-fpm config
  copy:
    src: www.conf
    dest: /etc/php-fpm.d/www.conf
    force: yes
  when: ansible_facts['os_family']|lower == 'redhat'

- name: Copy php-fpm config
  copy:
    src: www.conf
    dest: /etc/php/8.1/fpm/pool.d/www.conf
    force: yes
  when: ansible_facts['os_family']|lower == 'debian'

- name: Copy php.ini
  copy:
    src: php.ini
    dest: /etc/php.ini
    force: yes
  when: ansible_facts['os_family']|lower == 'redhat'

- name: Copy php.ini
  copy:
    src: php.ini
    dest: /etc/php/8.1/fpm/php.ini
    force: yes
  when: ansible_facts['os_family']|lower == 'debian'

- name: SELinux enable httpd connect
  command: setsebool -P httpd_can_network_connect on
  when: ansible_facts['os_family']|lower == 'redhat'

- name: Restart php-fpm on RHEL
  systemd:
    name: php-fpm
    state: restarted
    enabled: yes
  when: ansible_facts['os_family']|lower == 'redhat'

- name: Restart php-fpm on debian
  systemd:
    name: php8.1-fpm
    state: restarted
    enabled: yes
  when: ansible_facts['os_family']|lower == 'debian'

- name: Restart nginx
  systemd:
    name: nginx
    state: restarted
    enabled: yes
