- name: Install mariadb server for RHEL
  include_tasks: redhat.yml
  when: ansible_facts['os_family']|lower == 'redhat'

- name: Install mariadb server for Ubuntu
  include_tasks: debian.yml
  when: ansible_facts['os_family']|lower == 'debian'

- name: Start server
  systemd:
    name: mariadb
    state: started
    enabled: yes

- name: Check if config exists
  stat:
    path: /home/{{ ansible_user }}/.my.cnf
  register: config

- name: Initialize wordpress database
  when: not config.stat.exists
  block:
    - name: Copy .my.cnf file with root password credentials
      template: 
        src: .my.cnf
        dest: "/home/{{ ansible_user }}/.my.cnf"
        mode: 600

    - name: Create user and database
      shell: |
          mysql -u root -e \
          "create database wordpress; \
           create user wordpressuser@localhost identified by '{{ mysql_password }}'; \
           grant all privileges on wordpress.* to wordpressuser@localhost identified by '{{ mysql_password }}'; \
           flush privileges;"
