- name: Copy sshd config
  copy:
    src: files/sshd_config
    dest: /etc/ssh/sshd_config
    force: yes

- name: Copy authorized users public keys
  copy:
    src: files/authorized_keys
    dest: ~/.ssh/authorized_keys
    force: yes

- name: Reload ssh daemon
  systemd:
    state: restarted
    daemon_reload: yes
    name: sshd

- name: Turnoff swap
  command: swapoff -a

- name: Setup package manager and install base packages for RHEL
  include_tasks: redhat.yml
  when: ansible_facts['os_family']|lower == 'redhat'
  register: RHEL

- name: Setup package manager and install base packages for Ubuntu
  include_tasks: debian.yml
  when: ansible_facts['os_family']|lower == 'debian'
  register: debian

- name: Check dummy
  shell: ip addr | grep "dummy"
  register: rc

- name: Dummy interface
  when: when.rc != 0
  block:
    - name: Create dummy interface
      shell: echo "dummy" > /etc/modules-load.d/dummy.conf

    - name: Enable modprobe
      command: modprobe  dummy
    
    - name: Copy templates
      copy: 