- name: Copy sshd config
  copy:
    src: files/sshd_config
    dest: /etc/ssh/sshd_config
    force: yes
  become: yes

- name: Copy authorized users public keys
  copy:
    src: files/authorized_keys
    dest: ~/.ssh/authorized_keys
    force: yes

- name: Reload ssh daemon
  systemd:
    state: restarted
    daemon_reload: yes
    name: sshd
  become: yes

- name: Turnoff swap
  command: swapoff -a
  become: yes

- name: Setup package manager for RHEL
  include_tasks: redhat.yml
  when: ansible_facts['os_family']|lower == 'redhat'
  register: RHEL

- name: Setup package manager for Ubuntu
  include_tasks: debian.yml
  when: ansible_facts['os_family']|lower == 'debian'
  register: debian

# - name: Reboot
#   reboot:
#     reboot_timeout: 3600
#   become: yes
#   when: debian is defined and debian.changed or RHEL is defined and RHEL.changed 
