- name: Copy sshd config
  copy:
    src: files/sshd_config
    dest: /etc/ssh/sshd_config
    force: yes

- name: Copy authorized users public keys
  copy:
    src: files/authorized_keys
    dest: ~/.ssh/authorized_keys
    force: yes

- name: Reload ssh daemon
  systemd:
    state: restarted
    daemon_reload: yes
    name: sshd

- name: Turnoff swap
  command: swapoff -a

- name: Setup package manager and install base packages for RHEL
  include_tasks: redhat.yml
  when: ansible_facts['os_family']|lower == 'redhat'
  register: RHEL

- name: Setup package manager and install base packages for Ubuntu
  include_tasks: debian.yml
  when: ansible_facts['os_family']|lower == 'debian'
  register: debian

- name: Check dummy
  shell: ip addr | grep "dummy0"
  register: result
  ignore_errors: True

- name: Dummy interface
  when: result.rc != 0
  block:
    - name: Create dummy interface
      shell: echo "dummy" > /etc/modules-load.d/dummy.conf

    - name: Enable modprobe
      command: modprobe dummy

    - name: Install systemd-networkd on RHEL >:|
      dnf:
        name:
          - systemd-networkd
        state: latest
      when: ansible_facts['os_family']|lower == 'redhat'

- name: Copy network
  template:
    src: dummy0.network
    dest: /etc/systemd/network

- name: Copy netdev
  copy:
    src: dummy0.netdev
    dest: /etc/systemd/network

- name: Restart systemd-networkd
  systemd:
    name: systemd-networkd
    state: restarted
    enabled: yes

- name: Check bird
  command: bird --version
  register: result
  ignore_errors: True

- name: Setup bird
  when: result.rc != 0
  block:
    - name: Install bird on RHEL
      dnf:
        name:
          - bird
        state: latest
      when: ansible_facts['os_family']|lower == 'redhat'

    - name: Install bird on Debian
      apt:
        name: bird2
      when: ansible_facts['os_family']|lower == 'debian'

- name: Copy config file on RHEL
  template:
    src: bird.conf
    dest: /etc/bird.conf
  when: ansible_facts['os_family']|lower == 'redhat'
  vars:
    interface_name: "eth0"

- name: Copy config file on Debian
  template:
    src: bird.conf
    dest: /etc/bird/bird.conf
  when: ansible_facts['os_family']|lower == 'debian'
  vars:
    interface_name: "ens3"

- name: Restart bird daemon
  systemd:
    name: bird
    state: restarted
    enabled: yes
