- name: Setup proxy server for package manager
  lineinfile:
    path: /etc/dnf/dnf.conf
    regexp: ^proxy
    insertafter: [main]
    line: proxy={{ proxy_env.http_proxy }}
  when: proxy_env is defined

- name: Setup proxy server for HTTP clients
  lineinfile:
    path: /etc/profile
    regexp: "export http_proxy"
    line: http_proxy={{ proxy_env.http_proxy }}
  when: proxy_env is defined

- name: Install bird
  dnf:
    name:
      - bird
    state: latest