- name: Setup proxy server for package manager
  lineinfile:
    path: /etc/dnf/dnf.conf
    regexp: ^proxy
    insertafter: [main]
    line: proxy={{ proxy_env.http_proxy }}
  when: proxy_env is defined
  become: yes

- name: Enable EPEL Repository
  dnf:
    name: epel-release
    state: latest
  become: yes

# - name: Update the system
#   dnf:
#     name:  "*"
#     state: latest 
#   become: yes
